<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PreethiSri-Selenium-Java-Project" verbose="5">
    <listeners>
    <listener class-name="com.aventstack.chaintest.plugins.ChainTestListener"/>
    </listeners>

<!--    <test name="Basic Tests">-->
<!--        <classes>-->
<!--            <class name="BaseTest.BaseTestUtilityFile"/>-->
<!--            <class name="EcomApp.PurchaseProductTest"/>-->
<!--        </classes>-->
<!--    </test>-->
        <test name="API Tests">
            <classes>
                <class name="API_Test.GoRestUserAPI">
                    <methods>
                        <include name="addAndValidateUserCreation"/>
<!--                        <include name="getAllUsers"/>-->
                    </methods>
                </class>
            </classes>
        </test>
</suite>