<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PreethiSri-Selenium-Java-Project" verbose="5">
    <!--    <groups>-->
    <!--        <run>-->
    <!--            <include name="Web"/>-->
    <!--            <include name="API"/>-->
    <!--        </run>-->
    <!--    </groups>-->

    <listeners>
        <listener class-name="com.aventstack.chaintest.plugins.ChainTestListener"/>
    </listeners>

    <test name="Web and API Tests">
        <classes>
            <!--            <class name="TestUtility.BaseTestUtilityFile"/>-->
            <!--            <class name="WebAppTest.PurchaseProductTest_E2E"/>-->
            <!--            <class name="WebAppTest.CartPageTest"/>-->
            <!--            <class name="API_Test.GoRest_User_API"/>-->
            <!--            <class name="API_Test.GoRest_Post_API"/>-->
            <!--            <class name="WebAppTest.HomePageTest"/>-->
            <class name="WebAppTest.NewCustomerTest">
                <methods>
                    <include name="validateUserAbleToRegister"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>
